<header
  class="fixed top-0 flex w-full place-content-between place-items-center px-4 py-4"
>
  <a href="/" class="text-xl font-semibold">Lucia Demo</a>
  <div class="flex gap-5 items-center">
    <a href="/login" class="text-indigo-500 hover:underline">Login</a>
    <a href="/signup" class="text-indigo-500 hover:underline">Register</a>
    <a href="/email" class="text-indigo-500 hover:underline" target="_blank"
      >Open mailbox</a
    >
  </div>
</header>
